/* CUSTOM-PROPS */
:root {
    --midnight-green: #014E56;
    --light-coral: #F67E7E;
    --full-white: #FFFFFF;
    --light-white: rgba(255, 255, 255, 0.6);
    --rapture-blue: #79C8C7;
    --sacramento-green: #012F34;
    --police-blue: #2C6269;
    --deep-green: #004047;
    --dark-green: #002529;
}

/* FONT */
@font-face {
    font-family: "Livvic";
    src: url("../font/Livvic-Bold.woff2") format("woff2"),
    url("../font/Livvic-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Livvic";
    src: url("../font/Livvic-SemiBold.woff2") format("woff2"),
    url("../font/Livvic-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Livvic";
    src: url("../font/Livvic-Medium.woff2") format("woff2"),
    url("../font/Livvic-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic';
    src: url("../font/Livvic-MediumItalic.woff2") format("woff2"),
    url("../font/Livvic-MediumItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}


/* GLOBAL */
html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "Livvic", "Arial", sans-serif;
    background-color: var(--midnight-green);
    color: var(--full-white);
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

/* BUTTON */
.button {
    border: 2px solid transparent;
    text-decoration: none;
    padding: 10px 32px;
    white-space: nowrap;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    border-radius: 24px;
    display: inline-block;
}

/* CONTAINER */
.container {
    width: 100%;
    max-width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* MAIN-CONTENT */
.main-content {
    flex-grow: 1;
}


/* HEADER-HERO */
.site-header-hero {
    display: flex;
    flex-direction: column;
    background-color: var(--midnight-green);
    position: relative;
}

.site-header {
    display: flex;
    align-items: center;
    padding-top: 73px;
}

/* LOGO */
.logo {
    display: flex;
    flex-shrink: 0;
    text-decoration: none;
    margin-right: 80px;
}

.logo__img {
    width: 160px;
    height: 40px;
    object-fit: contain;
}

.site-header__inner {
    flex-grow: 1;
}

.site-header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.close-icon,
.hamburger-menu {
    display: none;
}

/* SITENAV */
.sitenav__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
}

.sitenav__link {
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
    color: var(--full-white);
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    transition: color 0.3s ease, opacity 0.3s ease;
}

.sitenav__link:hover {
    color: var(--light-coral);
}

.sitenav__link:active {
    opacity: 0.8;
}

.site-header__button {
    border-color: var(--full-white);
    color: var(--full-white);
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    transition: color 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
}

.site-header__button:hover {
    background-color: var(--full-white);
    color: var(--dark-green);
}

.site-header__button:active {
    opacity: 0.8;
}

.hero {
    display: flex;
    align-items: center;
    gap: 45px;
    padding-top: 130px;
    padding-bottom: 250px;
}

.hero__heading {
    font-weight: 700;
    font-size: 100px;
    line-height: 100px;
    color: var(--full-white);
    max-width: 620px;
    margin: 0;
    span {
        color: var(--light-coral);
    }
}

.hero__text {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.hero__line {
    width: 50px;
    height: 4px;
    background-color: var(--rapture-blue);
}

.hero__paragraph {
    max-width: 445px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    margin: 0;
}

/* HERO-BG */
.hero-left-bg {
    position: absolute;
    top: 250px;
    left: -265px;
}

.hero-bottom-bg {
    position: absolute;
    top: 600px;
    left: 752px;
}


/* FEATURES */
.features {
    background-color: var(--sacramento-green);
    padding-top: 140px;
    padding-bottom: 140px;
    position: relative;
    z-index: 2;
}

.features__line {
    width: 50px;
    height: 4px;
    background-color: var(--light-coral);
    display: inline-block;
    margin-bottom: 54px;
}

.features__container {
    position: relative;
}

.features__inner {
    display: flex;
    gap: 125px;
}

.features__heading {
    max-width: 445px;
    margin: 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: var(--full-white);
}

.features__fichas {
    padding-top: 58px;
    max-width: 540px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.features__ficha {
    display: flex;
    align-items: flex-start;
    gap: 23px;
    div {
        max-width: 445px;
        h5 {
            margin-top: 0;
            margin-bottom: 16px;
            font-weight: 700;
            font-size: 18px;
            line-height: 28px;
            color: var(--light-coral);
        }
        p {
            margin: 0;
        }
    }
}

.features__bg {
    position: absolute;
    top: 300px;
    right: -265px;
}


/* REVIEWS */
.reviews {
    padding-top: 140px;
    padding-bottom: 140px;
}

.reviews__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 92px;
    position: relative;
}

.reviews-bg-left {
    position: absolute;
    left: -165px;
    top: -140px;
}

.reviews-bg-right {
    position: absolute;
    bottom: -247px;
    right: -165px;
}

.reviews__heading {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    max-width: 932px;
    margin: 0;
    color: var(--full-white);
    span {
        color: var(--rapture-blue);
    }
}

.reviews__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.reviews__item {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/quotes-icon.svg");
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 36px;
    p {
        margin: 0;
        margin-bottom: 24px;
        text-align: center;
    }
    h6 {
        margin: 0;
        margin-bottom: 2px;
        text-align: center;
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        color: var(--rapture-blue);
    }
    span {
        font-weight: 500;
        font-size: 13px;
        line-height: 28px;
        margin-bottom: 32px;
        display: inline-block;
        font-style: italic;
    }
}


/* CONTACT */
.contact {
    padding-top: 76px;
    padding-bottom: 76px;
    background-color: var(--light-coral);
    position: relative;
    z-index: 3;
}

.contact__container {
    max-width: 917px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.contact__heading {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: var(--sacramento-green);
    margin: 0;
}

.contact__button {
    color: var(--sacramento-green);
    border-color: var(--sacramento-green);
    transition: color 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
}

.contact__button:hover {
    background-color: var(--sacramento-green);
    color: var(--full-white);
}

.contact__button:active {
    opacity: 0.8;
}

.contact__bg {
    position: absolute;
    left: -263px;
    bottom: -176px;
}


/* SITE-FOOTER */
.site-footer {
    padding-top: 48px;
    padding-bottom: 48px;
    background-color: var(--dark-green);
    position: relative;
    z-index: 3;
}

.site-footer__container {
    display: flex;
}

.site-footer__nav {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-right: 125px;
}

.site-footer__about {
    max-width: 170px;
    color: rgba(255, 255, 255, 0.6);
}

.site-footer__socials {
    margin-left: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: flex-end;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        svg {
            display: block;
            color: var(--full-white);
            transition: color 0.3s ease;
        }
    }
    p {
        margin: 0;
        color: rgba(255, 255, 255, 0.6);
    }
}

.site-footer__socials svg:hover {
    color: var(--light-coral);
}


/* MEDIA-QUERIES */
@media only screen and (max-width: 1200px) {
    .hero-bottom-bg {
        left: 50%;
        transform: translateX(-50%);
    }
}

@media only screen and (max-width: 1150px) {
    .features {
        padding-top: 100px;
        padding-bottom: 100px;
        background-image: url("../img/site-bg/home-features-one.svg");
        background-repeat: no-repeat;
        background-position: right -100px top 0;
    }
    
    .features__container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .features__inner {
        flex-direction: column;
        gap: 64px;
    }
    
    .features__bg {
        display: none;
    }
    
    .features__heading {
        font-size: 32px;
        line-height: 32px;
    }
    
    .features__line {
        margin-bottom: 32px;
    }
    
    .features__fichas {
        padding-top: 0;
    }
    
    .features__ficha {
        max-width: 573px;
    }
    
    .reviews-bg-left,
    .reviews-bg-right {
        display: none;
    }
    
    .reviews {
        background-image: url("../img/site-bg/home-reviews-bg-left.svg"), url("../img/site-bg/home-reviews-bg-right.svg");
        background-position: left top, right bottom -100px;
        background-repeat: no-repeat;
    }
}

@media only screen and (max-width: 1100px) {
    .site-header {
        padding-top: 64px;
    }
    
    .hero {
        flex-direction: column;
        padding-top: 112px;
        padding-bottom: 256px;
    }
    
    .hero__heading {
        text-align: center;
        font-size: 64px;
        line-height: 56px;
        max-width: 397px;
    }
    
    .hero__line {
        display: none;
        gap: 24px;
    }
    
    .hero__paragraph {
        text-align: center;
        max-width: 457px;
        font-size: 15px;
        line-height: 28px;
    }
}

@media only screen and (max-width: 1000px) {
    .contact__heading {
        font-size: 40px;
        line-height: 40px;
    }
}

@media only screen and (max-width: 950px) {
    .site-footer {
        padding-top: 55px;
        padding-bottom: 55px;
    }
    
    .site-footer__container {
        justify-content: space-between;
        flex-wrap: wrap
    }
    
    .site-footer__nav {
        margin: 0;
    }
    
    .site-footer__socials {
        margin: 0;
        width: 950px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 32px;
    }
    
    .site-footer__about {
        max-width: 260px;
    }
}

@media only screen and (max-width: 768px) {
    .reviews {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    .reviews__heading {
        font-size: 32px;
        line-height: 32px;
    }
    
    .reviews__container {
        gap: 48px;
    }
    
    .contact {
        padding-top: 84px;
        padding-bottom: 84px;
        background-image: url("../img/site-bg/home-contact-bg.svg");
        background-repeat: no-repeat;
        background-position: left bottom -122px;
    }
    
    .contact__container {
        justify-content: center;
        gap: 84px;
    }
    
    .contact__heading {
        font-size: 32px;
        line-height: 32px;
    }
}

@media only screen and (max-width: 650px) {
    .site-header {
        justify-content: space-between;
    }
    
    .logo {
        margin-right: 40px;
    }
    
    .site-header__inner {
        position: fixed;
        background-color: var(--police-blue);
        top: 0;
        right: 0;
        width: 255px;
        height: 100vh;
        z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 36px;
        transform: translateX(100%);
        transition: transform 0.3s ease;
    }
    
    .open-menu {
        transform: translateX(0);
    }
    
    .site-header__menu {
        flex-direction: column;
        align-items: flex-start;
        gap: 36px;
        position: absolute;
        top: 112px;
    }
    
    .sitenav__list {
        flex-direction: column;
        gap: 24px;
    }
    
    .hamburger-menu {
        display: block;
    }
    
    .close-icon {
        display: block;
        position: absolute;
        top: 56px;
        left: 212px;
    }
    
    .contact__container {
        flex-direction: column;
        gap: 24px;
    }
    
    .contact__heading {
        max-width: 327px;
        text-align: center;
    }
    
    .site-footer {
        padding-top: 65px;
        padding-bottom: 65px;
    }
    
    .site-footer__container {
        flex-direction: column;
        align-items: center;
    }
    
    .site-footer__socials {
        flex-direction: column;
        width: 60%;
        align-items: center;
        p {
            text-align: center;
        }
    }
    
    .site-footer__nav {
        align-items: center;
        margin-bottom: 24px;
        .logo {
            margin-right: 0;
        }
        .sitenav__list {
            flex-direction: row;
        }
    }
    
    .site-footer__about {
        text-align: center;
        max-width: 180px;
    }
    
    .site-footer__socials {
        margin-top: 40px;
        gap: 16px;
    }
}

@media only screen and (max-width: 600px) {
    .features {
        padding-top: 64px;
        padding-bottom: 64px;
    }
    
    .features__heading {
        max-width: 300px;
    }
    
    .features__inner {
        gap: 56px;
    }
    
    .features__fichas {
        gap: 48px;
    }
    
    .features__ficha {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 16px;
        div {
            max-width: 327px;
            h5 {
                margin-bottom: 8px;
            }
        }
    }
    
    .reviews__item {
        p {
            margin-bottom: 16px;
        }
        h6 {
            margin-bottom: 2px;
        }
        span {
            margin-bottom: 16px;
        }
    }
}

@media only screen and (max-width: 500px) {
    .site-header {
        padding-top: 48px;
    }
    
    .hero {
        padding-top: 80px;
        padding-bottom: 190px;
    }
    
    .hero-bottom-bg {
        top: 467px;
    }
    
    .hero__heading {
        font-size: 50px;
        line-height: 48px;
    }
    
    .reviews {
        padding-top: 140px;
        padding-bottom: 164px;
    }
}

@media only screen and (max-width: 450px) {
    .features__heading {
        max-width: 240px;
    }
}

@media only screen and (max-width: 375px) {
    .hero {
        gap: 18px;
    }
    
    .hero__heading {
        font-size: 40px;
        line-height: 40px;
        max-width: 248px;
    }
    
    .hero__paragraph {
        font-size: 15px;
    }
}
